.root {
  position: absolute;
  display: flex;
  padding: 10px;
}

.node {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 10px 10px;
  overflow: hidden;
  cursor: pointer;
}

.male {
  background: #6fa8dc;
}

.female {
  background: #d5a6bd;
}

.male.deceased {
  background: #2986cc;
}

.female.deceased {
  background: #c90076;
}

.isRoot {
  border-color: rgba(0, 0, 0, .4);
}

.isHover {
  border-color: rgba(0, 0, 0, .8);
}

.nodeFullName {
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  opacity: .5;
}

.nodeDates {
  font-size: 13px;
  line-height: 1;
  opacity: .5;
}

.nodeIcons {
  position: absolute;
  display: flex;
  top: 6px;
  right: 20px;
}

.nodeIcon {
  width: 35px;
  height: 20px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px 5px;
  background: #bbbbbb;
  cursor: pointer;
  text-align: center;
  word-break: break-all;
  white-space: pre-wrap;
}